
h1 {
  display: flex;
  justify-content: center;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
  50% {
  font-size: 300%;
  margin-left: 5%;
  width: 150%;
  }
}

p {
  animation-duration: 3s;
  animation-name: slideacross;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes slideacross {
  from {
    margin-left:100%;
    width:300%
  }
  to {
    display: flex;
    justify-content: center;
    margin-left: 48%;
    width: 0%;
  }
  50% {
    margin-left:0%;
    width:100%;
  }
}
