
h1 {
  display: flex;
  justify-content: center;
  /*animation-duration: 5s;
  animation-name: slidein;*/
}

/*@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }*/
  /*50% {
  margin-left: 5%;
  width: 100%;
  }*/
/*}*/


p {
  font-size: 45px;
  -webkit-animation-duration: 10s;
  -webkit-animation-name: slideacross;
  /*animation-direction: alternate;*/
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
}

@keyframes slideacross {
  from {
    margin-left:200%;
    width:300%
  }
  to {
    /*display: flex;
    justify-content: center;
    align-items: 50vh;*/
    margin-left: -80%;
    width: -80%;
  }
  /*40% {
    font-size: 200%;
  }
  57% {
    font-size: 50%;
  }*/
}
